<form class="nra-builder-form" autocomplete="off">
  <header class="nra-builder-header">
    <h2><i class="fas fa-network-wired"></i> {{item.name}}</h2>
    <span class="nra-floor-count">{{floors.length}} Floors</span>
  </header>

  <div class="nra-toolbar">
    <button type="button" class="nra-add-floor">
      <i class="fas fa-plus"></i> {{localize (concat moduleId '.builder.addFloor')}}
    </button>
    <button type="button" class="nra-generate-random">
      <i class="fas fa-dice"></i> {{localize (concat moduleId '.builder.generateRandom')}}
    </button>
    <button type="button" class="nra-export-chat">
      <i class="fas fa-comment-alt"></i> {{localize (concat moduleId '.builder.exportToChat')}}
    </button>
    <button type="button" class="nra-clear-all">
      <i class="fas fa-times-circle"></i> {{localize (concat moduleId '.builder.clearAll')}}
    </button>
    <button type="button" class="nra-save">
      <i class="fas fa-save"></i> {{localize (concat moduleId '.builder.save')}}
    </button>
  </div>

  {{#if isGM}}
    <div class="nra-toolbar nra-toolbar-scene">
      <button type="button" class="nra-place-tiles">
        <i class="fas fa-map-marker-alt"></i> {{localize (concat moduleId '.tiles.placeOnScene')}}
      </button>
      <button type="button" class="nra-clear-tiles">
        <i class="fas fa-eraser"></i> {{localize (concat moduleId '.tiles.clearTiles')}}
      </button>
      <label class="nra-maze-toggle" title="{{localize (concat moduleId '.tiles.mazeModeHint')}}">
        <input type="checkbox" name="mazeMode" />
        <i class="fas fa-random"></i> {{localize (concat moduleId '.tiles.mazeMode')}}
      </label>
      <div class="nra-maze-slider">
        <input type="range" name="mazeChance" min="10" max="80" value="30" step="10"
               class="nra-maze-range" title="{{localize (concat moduleId '.tiles.mazeChance')}}" />
        <span class="nra-maze-percent">30%</span>
      </div>
      <label class="nra-maze-depth" title="{{localize (concat moduleId '.tiles.maxDepthHint')}}">
        {{localize (concat moduleId '.tiles.maxDepth')}}
        <input type="number" name="maxDepth" value="" min="1" max="10" placeholder="--" />
      </label>
    </div>
  {{/if}}

  <div class="nra-builder-body">
    {{#if floors.length}}
      <div class="nra-floor-list-header">
        <span class="nra-col-num">#</span>
        <span class="nra-col-dv">DV</span>
        <span class="nra-col-content">{{localize (concat moduleId '.builder.content')}}</span>
        <span class="nra-col-desc">{{localize (concat moduleId '.builder.description')}}</span>
        <span class="nra-col-actions"></span>
      </div>
      <ol class="nra-floor-list">
        {{#each floors}}
          {{> "modules/cpr-netrunning-architect/templates/builder/floor-row.hbs" this}}
        {{/each}}
      </ol>
    {{else}}
      <div class="nra-empty-state">
        <i class="fas fa-network-wired"></i>
        <p>No floors yet. Add floors manually or generate a random architecture.</p>
      </div>
    {{/if}}
  </div>
</form>
