<form class="nra-generate-form">
  <p>{{localize (concat moduleId '.builder.generateFloorCount')}}</p>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.generateDifficulty')}}</label>
    <select name="difficulty">
      <option value="basic" {{#if (eq defaultDifficulty 'basic')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyBasic')}}
      </option>
      <option value="standard" {{#if (eq defaultDifficulty 'standard')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyStandard')}}
      </option>
      <option value="uncommon" {{#if (eq defaultDifficulty 'uncommon')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyUncommon')}}
      </option>
      <option value="advanced" {{#if (eq defaultDifficulty 'advanced')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyAdvanced')}}
      </option>
    </select>
  </div>

  <h4>{{localize (concat moduleId '.builder.constraints')}}</h4>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.minControlNodes')}}</label>
    <input type="number" name="minControlNodes" value="0" min="0" max="10" />
  </div>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.minFiles')}}</label>
    <input type="number" name="minFiles" value="0" min="0" max="10" />
  </div>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.minPasswords')}}</label>
    <input type="number" name="minPasswords" value="0" min="0" max="10" />
  </div>
</form>
