<form class="nra-generate-form">
  <p>{{localize (concat moduleId '.builder.generateFloorCount')}}</p>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.generateDifficulty')}}</label>
    <select name="difficulty">
      <option value="basic" {{#if (eq defaultDifficulty 'basic')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyBasic')}}
      </option>
      <option value="standard" {{#if (eq defaultDifficulty 'standard')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyStandard')}}
      </option>
      <option value="uncommon" {{#if (eq defaultDifficulty 'uncommon')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyUncommon')}}
      </option>
      <option value="advanced" {{#if (eq defaultDifficulty 'advanced')}}selected{{/if}}>
        {{localize (concat moduleId '.settings.difficultyAdvanced')}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>{{localize (concat moduleId '.builder.maxFloors')}}</label>
    <input type="number" name="maxFloors" value="" min="3" max="18" placeholder="--" />
  </div>

  <h4>{{localize (concat moduleId '.builder.constraints')}}</h4>

  <div class="nra-constraint-row">
    <span class="nra-constraint-label">{{localize (concat moduleId '.builder.controlNodes')}}</span>
    <label>{{localize (concat moduleId '.builder.min')}}</label>
    <input type="number" name="minControlNodes" value="0" min="0" max="18" />
    <label>{{localize (concat moduleId '.builder.max')}}</label>
    <input type="number" name="maxControlNodes" value="" min="0" max="18" placeholder="--" />
  </div>

  <div class="nra-constraint-row">
    <span class="nra-constraint-label">{{localize (concat moduleId '.builder.files')}}</span>
    <label>{{localize (concat moduleId '.builder.min')}}</label>
    <input type="number" name="minFiles" value="0" min="0" max="18" />
    <label>{{localize (concat moduleId '.builder.max')}}</label>
    <input type="number" name="maxFiles" value="" min="0" max="18" placeholder="--" />
  </div>

  <div class="nra-constraint-row">
    <span class="nra-constraint-label">{{localize (concat moduleId '.builder.passwords')}}</span>
    <label>{{localize (concat moduleId '.builder.min')}}</label>
    <input type="number" name="minPasswords" value="0" min="0" max="18" />
    <label>{{localize (concat moduleId '.builder.max')}}</label>
    <input type="number" name="maxPasswords" value="" min="0" max="18" placeholder="--" />
  </div>

  <div class="nra-constraint-row">
    <span class="nra-constraint-label">{{localize (concat moduleId '.builder.blackIce')}}</span>
    <label>{{localize (concat moduleId '.builder.min')}}</label>
    <input type="number" name="minBlackIce" value="0" min="0" max="18" />
    <label>{{localize (concat moduleId '.builder.max')}}</label>
    <input type="number" name="maxBlackIce" value="" min="0" max="18" placeholder="--" />
  </div>
</form>
